@use "../../scss/" as *;

.about-us {
  display: flex;
  justify-content: center;
}

.nav-link.active {
  background-color: transparent !important;
  color: rgba(141, 72, 72, 0.63) !important;
}
.nav-item,
.nav-link {
  border-bottom: none;
  color: #000;
  :hover {
    color: rgba(141, 72, 72, 0.63) !important;
  }
}
.sub-heading{
  font-size: 1.5rem;
  
}
.sub-content{
  @include mobile-potrait{
    --bs-gutter-x: 0rem;
    padding: 0.5rem;
  }
}

.vision,
.mission,
.value {
  display: flex;
  
  min-height: 80vh;
  flex-direction: column;
  animation-duration: 2s;
  padding: 1rem;
  text-align: justify;
  color: #000;
}
.vision {
  animation-name: vision;
}
.mission {
  animation-name: mission;
}
.value {
  animation-name: value;
}
.text-about, .text-vision, .text-mission{
  font-size: 1.1rem;
}


@keyframes vision {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes mission {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes value {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
