@use "../../scss/" as *;

.about-us {
  display: flex;
  justify-content: center;
  // padding: 4em 0 0 0;
  align-items: ce;
}

.nav-link.active {
  background-color: transparent !important;
  color: rgba(141, 72, 72, 0.63) !important;
}
.nav-item,
.nav-link {
  border-bottom: none;
  color: #000;
  :hover {
    color: rgba(141, 72, 72, 0.63) !important;
  }
}
.vision,
.mission,
.value {
  display: flex;
  flex-direction: column;
  animation-duration: 2s;
  padding: 0rem 3rem;
  justify-content: center;
  // text-align: center;
  min-height: 65%;
  color: #000;
}
.vision {
  animation-name: vision;
}
.mission {
  animation-name: mission;
}
.value {
  animation-name: value;
}

@keyframes vision {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes mission {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes value {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
