@use "../../scss/" as *;

.filter-category {
  display: flex;
  background: #fff;
  margin-top: -10px;
  padding: 1rem;
  // p {
  //   margin-right: 2em;
  // }
}

p.text-proyek {
  position: relative;
  // box-sizing: border-box;
  color: transparent;
  z-index: 7778;

  top: -50% ;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: -30px;
  text-decoration: none;
}
.category-box {
  text-align: center;
  @include mobile-potrait {
    // height: auto !important;
  }
}
.col-md-6 img {
  // height: 100vh;

  @include mobile-potrait {
    height: auto;
  }
}

.col-md-6 {
  overflow-y: hidden;
  :hover {
    p.text-proyek {
      animation-name: slide;
      animation-duration: 0.7s;
      color: #fff;
      text-shadow: 2px 2px #666;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  row-gap: 15px;
  background-color: #fff;
  padding: 1rem;
  @include mobile-potrait {
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
  }
}
.btn-close {
  background-color: #fff;
}

.text-category {
  padding: 1em 1em 1em 1em !important;
  text-transform: capitalize;
}
.accordion {
  .accordion-item {
    border: 0;
  }
}
.dd-list-item {
  list-style: none;
  text-transform: capitalize;
  animation-duration: 1.5s;
  animation-name: fadein;
  box-sizing: border-box;
  :hover {
    font-weight: bold;
    border-bottom: solid 3px #e9b61a;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide {
  from {
    top: 0% ;
    opacity: 0;
  }

  to {
    top: -50% ;
    opacity: 1;
  }
}
