@use "../../scss/" as *;

.project-content {
  background: #f9f8fd;
  background-position: 0% 0%;
  display: block;
  transform: none;
  box-sizing: border-box;
  max-height: auto;

  animation-name: fadein;
  animation-duration: 2s;
  @include mobile-potrait {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: auto;
  }
}

.project-content-container {
  display: grid;

  grid-template-columns: 1fr 1fr;
  // grid-template-rows: auto;
  grid-template-areas:
    "imgs info"
    "imgs  info";

    align-items: center;
  box-sizing: border-box;
  @include mobile-potrait {
    display: flex;
    flex-direction: column;
    // align-items: baseline;
    width: 100%;
  }
}

.project-img {
  grid-area: imgs;
  cursor: zoom-in;
  img {
    border-radius: 3px;

    @include mobile-potrait {
      border-radius: 3px;
      .swiper-slide.active {
        width: 100%;
        margin: 0;
      }
    }
  }
}
.thumbnail {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  height: fit-content;
  grid-template-rows: 50px;
  box-sizing: border-box;
  img{
    width: 25%;
    object-fit: cover;
  }
}

.project-info-container {
  // display: flex;
  padding: 6rem 1rem !important;
  align-items: center;
  grid-area: info;
  // justify-content: center;
  // flex-direction: column;
  padding-left: 2em;
  @include mobile-potrait {
    border-radius: 5px;
    padding: 10px 10px !important;
    width: 100%;
  }
}
.project-info {
  display: flex;
  border-bottom: solid 0.5px #a4a6a9;
  border-top: solid 0.5px #a4a6a9;
  p {
    font-weight: 300;
  }
  button {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 10px 24px 0px 0px;
    color: #a4a6a9;
    height: 39px;
    line-height: 20px;
  }
  button.active {
    color: #000;
    font-weight: bold;
    border-bottom: solid 2px #f9d12b;
    position: relative;
    top: 1px;
  }
  a:hover {
    color: #000;
  }
  @include mobile-potrait {
    display: flex;
    height: auto;
    line-height: auto;
    a {
      padding: 0.5em;
    }
  }
}
.project-detail {
  padding: 20px 0;
  text-align: justify;
  p {
    font-weight: 300;
    font-size: 1.3rem;
  }
  @include mobile-potrait {
    padding-right: 24px;
    text-align: justify;
  }

  .naration-fadein {
    animation-duration: 1.5s;
    animation-name: fadein;
  }
  .info-fadein {
    animation-duration: 1.5s;
    animation-name: infofadein;
  }
}
.none {
  display: none;
}

.box-data{
  display: grid;
  grid-template-columns: 1fr ;
  row-gap: 20px;
  column-gap: 10px;
  padding-top: 10px;
  align-content: space-between;
  h4{
    font-size: 20px !important;
  }
  p{
    font-size:  20px !important;
  }
  // flex-direction: column;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes infofadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes content-fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}
