@use "../../scss/" as *;

.project-content-container {
  display: flex;
  min-height: 100%;
  align-items: center;
  --bs-gutter-x: 0rem !important;
  @include mobile-potrait {
    display: flex !important;
    flex-direction: column;
    width: 100%;
  }
}

.project-img {
  cursor: zoom-in;
  height: 20em;
  // align-items: center !important;
  img {
    border-radius: 3px;

  }
  @include mobile-potrait {
    height: 100% !important;
  }
}
.thumbnail {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  height: fit-content;
  grid-template-rows: 50px;
  box-sizing: border-box;
  img {
    width: 25%;
    object-fit: cover;
  }
}

.project-info-container {
  display: flex;
  text-align: left;
  padding: 0 .5rem !important;
  flex-direction: column;
  height: 20em;
  @include mobile-potrait {
    padding: 1rem 0.5rem !important;
  }
}
.project-info {
  p {
    font-weight: 300;
  }
  button {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 10px 10px 0px 0px;
    color: #000;
    height: auto;
    line-height: 20px;
  }
  button.active {
    color: #000;
    font-weight: bold;
    border-bottom: solid 2px #000;
    position: relative;
    top: 1px;
  }
  a:hover {
    color: #000;
  }
  @include mobile-potrait {
    display: flex;
    height: auto;
    line-height: auto;
    a {
      padding: 0.5em;
    }
  }
}
.project-detail {
  padding: 10px 0 0px 0 !important;
  text-align: justify;
  p {
    font-weight: 300;
    font-size: 1.4rem !important;
    color: black !important;
  }
  @include mobile-potrait {
    padding-right: 24px;
    text-align: justify;
  }

  .naration-fadein {
    animation-duration: 1.5s;
    animation-name: fadein;
  }
  .info-fadein {
    animation-duration: 1.5s;
    animation-name: infofadein;
  }
}
.none {
  display: none;
}

.box-data {
  display: grid;
  row-gap: 9px;
  column-gap: 10px;
  margin-left: 2px;
  h4 {
    font-size: 19px !important;
  }
  p {
    color: black !important;
    font-size: 1.1rem !important;
  }
}
.text-info-project{
  font-size: 1.4rem;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes infofadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes content-fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}
