@use "../../scss/" as *;

.contact-us{
  
  // min-height: 100%;
  display: block;
  padding: 50px 0 0 0;
  text-align: center;
  .text-contact{
    font-size: 2rem;
  }
  .text-company{
    font-size: 2.5rem;
    
  }
  .text-information{
    font-size: 25px;
  }
}

.sosmed{
  padding: 0 3rem;
  display: flex;
  justify-content: center;
  svg{
    color: #000 !important;
    font-size: 4.5rem;
    display: inline-block;
  }
}

.sosmed-wa,.sosmed-email, .sosmed-ig, .sosmed-fb{
  // height: 150px;
  padding: 2rem 0rem;
  // border: solid 1px white;
}


.loc{
  font-size: 2rem;
  color: #000 ;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// /*--------------------------------------------------------------
