@use "../../scss/" as *;

.contact-us{
  
  min-height: 100%;
  display: block;
  padding: 50px 0 0 0;
  text-align: center;
  .text-contact{
    font-size: 30px;
  }
  .text-company{
    font-size: 50px;
  }
  .text-information{
    font-size: 25px;
  }
}

.sosmed{
  padding-top: 50px;
}

.sosmed-wa,.sosmed-email, .sosmed-ig, .sosmed-fb{
  height: 150px;
  border: solid 1px white;
}

figure{
  padding-top:20px;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// /*--------------------------------------------------------------
