@use "../../scss/" as *;

.navbar {
  // display: none;
  text-decoration: none solid;
  padding: 1.5em 2em !important;
  box-sizing: border-box;
  background-color: transparent !important;
  

  transition: all 0s ease 0s;
  a.navbar-brand {
    color: #000;
    font-weight: bold;
    // pointer-events: none;
  }
  a.navbar-brand:hover {
    color: #e9b61a;
  }
}
svg {
  margin-right: 10px !important;
}
.navbar-toggler{
  background-color: rgba(255, 255, 255, 0.5);
}

#offcanvasNavbar {
  background: #000;
  // overflow: hidden;
  // position: relative;
  svg {
    margin-right: 30px;
  }
}

#offcanvasNavbar li {
  list-style-type: none;
  float: left;
}

#offcanvasNavbar {
  ul,
  li,
  a {
    color: rgba(255, 255, 255, 0.5);
    float: left;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0, 68, -0.55, 0.265, 1.55);
    position: relative;
  }
  li.active {
    a {
    }
  }
}

#offcanvasNavbar a:not(:only-child):after {
  content: "\f105";
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 14px;
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  transition: 0.5s;
}
#offcanvasNavbar .active > a:not(:only-child):after {
  transform: rotate(90deg);
}
.hori-selector {
  display: inline-block;
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0, 68, -0.55, 0.265, 1.55);
  background-color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 10px;
}

.hori-selector {
  .right,
  .left {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #fff;
    bottom: 10px;
  }
  .right {
    right: -25x;
  }
  .left {
    left: -25px;
  }

  .right::before,
  .left::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
  }
}

.hori-selector .right::before {
  bottom: 0px;
  right: -25px;
}
.hori-selector .left::before {
  bottom: 0px;
  left: -25px;
}

@media (max-width: 991px) {
  #offcanvasNavbar ul li a {
    padding: 12px 30px;
  }

  .hori-selector {
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .hori-selector {
    .left,
    .right {
      right: 10px;
    }
  }
  .hori-selector .left {
    top: -25px;
    left: auto;
  }
  .hori-selector .right {
    bottom: -25px;
  }

  .hori-selector .left::before {
    left: -25px;
    top: -25px;
  }
  .hori-selector .right::before {
    bottom: -25px;
    top: -25px;
  }
}

#offcanvasNavbarLabel {
  color: #fff;
  :hover {
    color: #e9b61a;
  }
}

.navbar-nav {
  .nav-link {
    color: #fff;
    box-sizing: border-box;
  }
  a:hover {
    // padding: 0.5em !important;
    width: 100%;
    color: #fff;
    border-radius: 3px;
    background-color: #e9b61a !important;
  }
}

.nav-link.active {
  color: red !important;
  background-color: transparent;
  transition: all 2.7s;
}
