@use "../../scss/" as *;

.row.jumbotron {
  position: relative;

  --bs-gutter-x: 0;
  height: 100vh;
  // animation-duration: 2s;
  // animation-name: fadein;
  padding-left: 0 !important;
  @include mobile-potrait {
    height: 100%;
    .carousel-control-next {
      display: none;
    }
    .carousel-control-prev {
      display: none;
    }
    z-index: 1 !important;
  }
}
.col-md {
  z-index: 1;
}

.carousel {
  position: relative;
  height: 100vh !important;
  
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  img{
    height: 100vh;
    
  }
  @include mobile-potrait {
    img {
      max-height: 100% !important;
      object-fit: cover;
      
    }
  }
}
.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  transition:none !important;
}
.carousel-caption {
  z-index: 33;
}


.text-home{
  font-size: 1.3rem;
}