@use "../../scss/" as *;

.footer {
  // position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 10px;

  color: #b9babe;
  font-size: 12px;
  background: #3d464d;
}
