@use "../../scss/" as *;

.footer {
  // position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // bottom: 0 !important;
  line-height: 10px;

  color: #000;
font-size: 12px;
  background: #3D464D;
  @include mobile-potrait {
    // font-size: 0.9rem;
  }
}
