@use "../scss/" as *;

.list-item {
  padding: 0 2rem;
  width: 100%;
  .swiper-slide {
    width: 60%;
  }
  @include mobile-potrait {
    .swiper-slide {
      width: 100%;
    }
  }
  @include mobile-landscape {
    .swiper-slide {
      width: auto;
    }
  }
  @include tablet-potrait {
    .swiper-slide {
      width: auto;
    }
  }
  @include tablet-landscape {
    .swiper-slide {
      width: auto;
    }
  }
  @include desktop {
    .swiper-slide {
      width: 40%;
    }
  }
}
